<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/css/style.css">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
  
</head>
<body>
    
  <div id="pieChart"></div>
  <div id="barChart"></div>  
  <div id="lineChart" ></div>
  <canvas id="countries" width="600" height="400"></canvas>

    
  <!-- <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script> -->
  <script src="./static/js/wholeregion.js"></script> 
  <script src="./static/js/app.js"></script> 
  <!-- <script src="./static/js/chartjs.js"></script> -->
  <script src="./static/lib/js/queue.js"></script>
  <script src="./static/js/graphs.js"></script> 

  <!-- <script src="./static/lib/js/keen.min.js"></script> -->
  
</body>
</html>